body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2 {
    background-color: aliceblue;
    text-align: center;
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.container {
    /* border-style: solid;
    border-width: 3px;
    border-color: aliceblue; */
    min-width: 1085px;
    max-width: 1085px;
    justify-content: center;
}

.text-1 {
    background-color: aliceblue;
    line-height: 1.5;
    text-align: left;
    margin-top: 2rem;
    margin-right: 2rem;
    padding: 1.5rem;
}

.text-container-2 {
    background-color: aliceblue;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
    justify-content: space-between;
}

.text-2,
.text-3,
.text-4,
.text-5,
.text-6 {
    line-height: 1.5;
    text-align: left;
}

.sexual_assault_container {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.household_crime_container {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

footer {
    background-color: aliceblue;
    text-align: center;
    margin-top: 3em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}