body {
    margin-left: 10em;
    margin-right: 10em;
}

h1, h2 {
    background-color: aliceblue;
    text-align: center;
    margin-top: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

p {
    display: flex;
    justify-content: center;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.crime-type-container {
    margin-top: 1em;
    margin-bottom: 3em;
    margin-left: 18em;
    margin-right: 3em;
}

.pure-u-4-5 {
    background-color: aliceblue;
    margin-top: 1em;
    margin-bottom: 1em;
}

.map-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10em;
}

.trend-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 5em;
}

.trend-text-container {
    background-color: aliceblue;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em;
}

footer {
    background-color: aliceblue;
    text-align: center;
    margin-top: 3em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}